---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ha Cam Thanh LE</div>
    <div class="text-3xl py-3 font-bold">System and AI Algorithm Engineer | currently at <a href="https://www.qorvo.com" target="_blank">Qorvo</a> </div> 
    <div class="py-2">
      <text class="text-lg">
        Let's call me <b>Ha</b>. Welcome to my homepage !!<br>
        <br>
        Extracting intelligence from signals, pixels, and sensors. <br>
        My expertise lies at the intersection of Computer Vision, Signal Processing, and Embedded AI. Currently, I am pioneering UWB solutions for Automotive, RTLS and Smart home markets at Qorvo, transforming raw sensor data into high-value PoCs. Math is the language, but hardware is the reality. I don't just design algorithms, I optimize and deploy them onto hardware and then build customer-oriented end-to-end PoCs. Driven by a passion for innovation and a portfolio of multiple patents, I am dedicated to building technology that makes the world simpler, safer, and more intuitive. Whether it is Computer Vision, Signal Processing, and Sensor Fusion, I am fascinated by the high-impact, realistic applications. I am currently exploring the vast landscape of AI to find where my next big contribution to the world will be.
  
      </text>
    </div>
    <div class="mt-8">
      <a href="https://www.linkedin.com/in/cam-thanh-ha-le/" target="_blank" class="btn btn-outline ml-5">
        Let's connect!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Innovation Highlight</div>
  </div>

  <HorizontalCard
    title="Research Patents Authored"
    img="/patent_icon.webp"
    desc="Pioneering new methods in UWB Signal Processing and Embedded AI. My inventions are currently being integrated into next-generation Automotive and RTLS solutions."
    url="/patents"
    badge="NEW"
  />

  
</BaseLayout>
